<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${user.username}"></title>
</head>
<body>
	<form action="#" th:action="@{/admin/users}" th:object="${user}"
		method="post">
		<p>
			Username: <input type="text" th:field="*{username}" />
		</p>
		<p>
			Password: <input type="text" th:field="*{password}" />
		</p>
		<input th:field="*{id}" type="hidden" />
		<p>
			Role: <select th:field="*{role}">
				<option th:value="'ROLE_USER'" th:text="User"></option>
				<option th:value="'ROLE_ADMIN'" th:text="Admin"></option>
			</select>
		</p>
		<p>
			<input type="submit" value="Submit" />
		</p>
	</form>
	<div>
		<a href="/"><button>Home</button></a>
	</div>
</body>
</html>