<! doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Page</title>
</head>

<body>
	<div>
		<H2>Friends List</H2>
		<table>
			<tr th:each="friend: ${friends}">
				<td th:text="${friend.username}" />
				<td th:text="${friend.role}" />
				<td>
					<form th:action="@{/user/{id}/{firendid}(id=${user.id},firendid=${friend.id})}" th:method=post>
						<input type="submit" value="DeleteFriend" />	
					</form>
				</td>
			</tr>
		</table>
	</div>
	<div>
		<h2>Friends to Add</h2>
		<table>
			<tr th:each="friend: ${notFriends}">
				<td th:text="${friend.username}" />
				<td th:text="${friend.role}" />
				<td>
					<form th:action="@{/user/{id}/{firendid}(id=${user.id},firendid=${friend.id})}" th:method=get>
						<input type="submit" value="AddFriend" />
					</form>	
				</td>
			</tr>
		</table>
	</div>
	<div>
		<h3>Add Post</h3>
		<form th:action="@{/user/{id}/post(id=${user.id})}" method="get"
			style="max-width: 400px; margin: 0 auto;">
			<p>
				<input type="text" name="post" required />
			</p>
			<p>
				<input type="submit" value="POST" />
			</p>
		</form>
	</div>
	<div>
		<h2>Posts</h2>
		<div th:each="post: ${posts}">
			<p th:text="${post.post}" />
			<hr>
		</div>
		<h4>Friends posts</h4>
		<div th:each="post: ${friendsPosts}">
			<p th:text="${post.post}" />
			<p th:text="${post.user.username}" />
		</div>		
	</div>
	<div>
		<a href="/"><button>Home</button></a>
	</div>
</body>
</html>